<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
	<div class="container__table">
		<table class="table table-bordered text-center">
			<thead class="thead-light">
			<tr>
				<td>
					ФИО
				</td>
				<td>
					Департамент
				</td>
				<td>
					Должность
				</td>
				<td>
					Номер телефона
				</td>
				<td>
					Ссылка ВК
				</td>
			</tr>
			<tr>
				<td>
					Николаева Анастасия
				</td>
				<td>
					Информационный
				</td>
				<td>
					Руководитель
				</td>
				<td>
					+777777777777
				</td>
				<td>
					some url
				</td>
			</tr>
			</thead>
		</table>
	</div>
</div>
<div class="container">
	<div class="card w-75">
		<div class="card-body">
			<img src="http://s1.iconbird.com/ico/2013/9/449/w256h2561380452254Photoshop.PNG ">
		</div>
	</div>
</div>
</body>
</html>>