<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="source/styles.css">
</head>
<body>
	<div class="container">
    <div class="table-calendar">
        <table class="table table-hover table-bordered text-center">
            <caption>June</caption>
            <thead class="thead-dark">
            <tr>
                <th scope="col">Пн</th>
                <th>Вт</th>
                <th>Ср</th>
                <th>Чт</th>
                <th>Пт</th>
                <th>Сб</th>
                <th>Вс</th>

                
            <tr>
               
                <td><a href="alcohol">1</a></td>
             
            </tr>
           
            </thead>
        </table>
    </div>
</div>
	<h1>Hello</h1>>
</body>